<!DOCTYPE html>
<html>
  <head>
    <title>OpenStable</title>
    <meta name=“viewport” content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB4O0OK1VwNaC1xyUiTDy9gYS3iNO3I3Ng" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
